.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30em, 1fr));
  gap: 1em;
  padding: 1em;
}

.artwork {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  transition: background-color 0.4s ease;
}

.artwork img {
  max-width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
}

.artwork p {
  margin: 0.75em 0 0;
}

.artwork:hover {
  background-color: rgba(78, 78, 78, 0.301);
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 0.6em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}

.logo {
  font-size: 4em;
  padding-left: 0.5em;
  padding-bottom: 0.2em;
  font-weight: bold;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav li {
  margin-right: 3em;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-size: 1.4em;
  transition: color 0.4s;
}

nav a:hover {
  color: #cacaca;
}

footer {
  padding: 2em;
  color: rgba(0, 0, 0, 0.192);
  background-color: #f0f0f0;
  text-align: center;
}

.centerText {
  text-align: center;
  flex: 50%;
}

.apropos {
  display: flex;
}

.container {
  display: flex;
  columns: 3;
}

.rightSide {
  flex: 25%;
  padding-bottom: 100em;
  background-color: chartreuse;
}

.leftSide {
  flex: 25%;
  background-color: aqua;
  padding-bottom: 100em;
}
